html {
  font-family: "Calibri", sans-serif;
  font-size: 11px;
}

table {
  table-layout: fixed;
  line-height: 1.15;
  border-collapse: collapse;
  width: 100%;
}

td {
  word-wrap: break-word;
}

.resume-container {
  margin: auto;
  padding: 4px;
  border: 1px solid lightgray;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.header-font-size {
  font-size: 24px;
}

.text-align-end {
  text-align: end;
}

.bold-text {
  font-weight: bold;
}

@media (min-width: 210mm) {
  .resume-container {
    max-width: 210mm;
  }
}
